body {
  font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    ' Lucida Sans',
    Arial sans-serif;
  background-image: url(./image/table.png);
  background-size: cover;
  text-align: center;
  color: azure;
  font-weight: bold;
}


h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  background-color: goldenrod;
  color: green;
  height: 40px;
  width: 150px;
  border: 0.2px solid azure;
}

.add {
  visibility: hidden;
  display: none;
}